body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.auth0-support-container
{
  margin-left: 340px;
  padding:10px;
  margin-top: 50px;
}

footer
{
  margin-left: 280px;
  border-top: solid 1px #dbd9d9;
  margin-top: 50px;
}
